@page
@model FiyiStackWeb.Pages._404Model
@{
    Layout = "_Layout";
}
<div class="section section-hero section-shaped pt-0">
      <div class="page-header mt-n3">
        <img class="bg-image" src="./assets/img/ill/index_bg.svg" alt="">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="/img/FiyiStack/HPFiyiStackWeb.png" class="mt-5 pt-5 img-fluid" style="width: 250px;">
                <p class="lead"> <b class="display-3">FiyiStack - Page not found (404)</b> <br>Enjoy developing with this low-code C# generator. ~5000 lines per second, pages in 5 minutes</p>
                <div class="btn-wrapper mt-5">
                  <a href="~/es" class="btn btn-secondary btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--text">ESPAÑOL</span>
                  </a>
                  <a href="~/en" class="btn btn-secondary btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--text">ENGLISH</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
