@page
@model IndexModel
@{
    Layout = "_Layout";
}
<!-- Hero for PRO version -->
    <div class="section section-hero section-shaped pt-0">
      <div class="page-header mt-n3">
        <img class="bg-image" src="./assets/img/ill/index_bg.svg" alt="">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <img src="/img/FiyiStack/FiyiStackImageTransparent.png" class="mt-5" style="width: 200px;" class="img-fluid">
                <p class="lead"> <b class="display-3">FiyiStack</b> <br>Disfruta desarrollando con este generador C# low-code. ~5000 líneas por segundo, páginas en 5 minutos</p>
                <div class="btn-wrapper mt-5">
                  <a href="~/Pricing" class="btn btn-primary btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
                    <span class="btn-inner--text">Comprar</span>
                  </a>
                  <a href="~/FullExample" class="btn btn-secondary btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-file"></i></span>
                    <span class="btn-inner--text">Ejemplo</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
          <div class="page-header-image" style="background-image: url('/img/FiyiStack/FiyiStack1.png')"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-7 mr-auto text-right d-flex justify-content-center flex-column">
                <h3 class="display-3 text-white">El generador C# low-code</h3>
                <p class="lead mt-0 text-white">Desarrolla rápido y seguro.</p>
                <br />
                <div class="buttons">
                  <a href="~/Downloads" class="btn btn-danger">
                    Descargar
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-header">
          <div class="page-header-image" style="background-image: url('/img/FiyiStack/FiyiStack2.png')"></div>
          <div class="container">
          </div>
        </div>
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">El generador low-code C#</span></h1>
            <p class="lead pb-4">Diseña un diagrama de base de datos y convertilo en código listo para funcionar</p>
            <a href="/LearnMore" class="btn btn-outline-primary">Aprender más</a> 
            <p class="lead pb-4">Link al video <span class="badge badge-danger">Youtube</span>:</p> 
            <a href="https://youtu.be/0bmjrK2nX9M" target="_blank">https://youtu.be/0bmjrK2nX9M</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0bmjrK2nX9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="section features-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center mx-auto">
              <h3 class="display-3">Genera páginas de consultas y formularios junto a un CMS</h3>
              <p class="lead">FiyiStack genera codigo HTML y CSS para que puedas ver rapidamente 
                  tus paginas web creadas, adaptables a cualquier dispositivo.
              </p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/1.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Diseña páginas de formularios</h4>
                  <p class="lead text-italic text-white">Crea rapidamente paginas para
                      que tus usuarios ingresen sus datos. Coloca todo tipo de entrada HTML,
                      checkboxes, cajas de texto, tags, numeros y mas. Tambien indica cuales
                      de ellos son requeridos por el sistema.
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/3.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Un CMS integrado</h4>
                  <p class="lead text-italic text-white">Diseña tus paginas alrededor de un CMS para
                      controlar quien puede o no mirar tu contenido. Accede a paginas de fallas, 
                      parametros del sistema, menues, usuarios y roles.
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/2.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Diseña páginas de consulta</h4>
                  <p class="lead text-italic text-white">Crea rapidamente páginas para que tus usuarios
                      vean sus datos guardados, dales la posibilidad de hacer acciones masivas como
                      eliminar y copiar masivamente, dales un boton para que editen sus datos y vayan
                      al formulario. Tambien dales la posibilidad de convertir sus datos guardados 
                      en archivos PDF, Excel y CSV.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
<div class="cd-section" id="features">
    <div class="section features-1">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <span class="badge badge-primary badge-pill mb-3">Librerias</span>
              <h3 class="display-3">60 librerias entre NPM y Nuget</h3>
              <p class="lead">Aprende de las librerias más utilizadas: Webpack, RxJs, Dapper y más.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-primary shadow rounded-circle">
                  <img src="/img/FiyiStack/libraries/Webpack.png" width="50"/>
                </div>
                <h6 class="info-title text-uppercase text-primary">Webpack</h6>
                <p class="description opacity-8">Esta librería JavaScript es utilizada para empaquetar archivos CSS y JavaScript para acelerar los tiempos de carga de tu sitio.</p>
                <a href="https://webpack.js.org/" target="_blank" class="text-primary">Aprender más
                  <i class="ni ni-bold-right text-primary"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle">
                  <img src="/img/FiyiStack/libraries/RxJs.png" width="50"/>
                </div>
                <h6 class="info-title text-uppercase text-success">RxJs</h6>
                <p class="description opacity-8">RxJs, una libreria JavaScript, permite una comunicación síncrona entre el back-end (APIs C#) y el front-end (JavaScript), aparte de otras significativas ventajas que ofrece.</p>
                <a href="https://rxjs.dev/" target="_blank" class="text-primary">Aprender más
                  <i class="ni ni-bold-right text-primary"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle">
                  <img src="/img/FiyiStack/libraries/Dapper.png" width="50"/>
                </div>
                <h6 class="info-title text-uppercase text-warning">Dapper</h6>
                <p class="description opacity-8">Dapper es un micro ORM altamente utilizado para conectar bases de datos, en este caso SQL Server, con el back-end de C#, en .NET Core precisamente.</p>
                <a href="https://www.learndapper.com/" class="text-primary">Aprender más
                  <i class="ni ni-bold-right text-primary"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-header">
          <div class="page-header-image" style="background-image: url('./assets/img/ill/p8.svg')"></div>
          <div class="container pt-300">
            <div class="row">
              <div class="col-md-8 mx-auto text-center">
                <h2 class="display-2">Hablemos de rendimiento</h2>
              </div>
            </div>
            <div class="row">
              <div class="floating-box bg-default">
                <div class="box text-center">
                  <div class="icon icon-shape bg-success icon-xl rounded-circle text-white">
                    <i class="ni ni-spaceship"></i>
                  </div>
                </div>
                <h2 class="lead text-white p-5">FiyiStack es un generador de aplicaciones capaz de generar ~5000 líneas de código para cada tabla de una base de datos. Es rápido, fácil de usar y tiene un amplio soporte por parte de los desarrolladores .NET. Puedes levantar aplicaciones, en semanas e incluso días, y no en meses. </h2>
                <h2 class="lead text-white p-5">Obtén de 50 a 100 visitas a tu sitio, puedes llegar a 5.000 por mes.</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="section features-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center mx-auto">
              <h3 class="display-3">Características</h3>
              <p class="lead">FiyiStack presta muchas características para ser utilizado, aca te mostramos 6 prestaciones que se distinguen del resto de generadores.
              </p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/features/Argon.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Argon</h4>
                  <p class="lead text-italic text-white">Argon es una plantilla creada por Creative-tim, me tomo el atrevimiento de comentar que es una excelente plantilla, muy bien hecha. Gracia a esta plantilla doy vida al front-end, el CSS en conjunto con Bootstrap y las características que ofrece tambien Creative-tim hacen de esta plantilla una muy buena, desde mi punto de vista. Con respecto a FiyiStack, este generador genera código usando a Argon como plantilla. Les recomiendo que la compren para sacar todo el provecho. Pueden visitar el sitio de esta fábrica de software excelente: <a href="https://www.creative-tim.com/" target="_blank">Creative-tim</a>
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/Graphs.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Gráficos con Chart.js</h4>
                  <p class="lead text-italic text-white">Gráficos en barras, de torta y lineales, gracias a <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/Quill.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Quill, el mejor editor de textos para HTML</h4>
                  <p class="lead text-italic text-white">Quill, un editor de textos para HTML, es increíble la cantidad de opciones que tiene, todas muy buenas. Pueden visitar su sitio, <a href="https://quilljs.com/" target="_blank">Quill</a>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/Select2.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Select2, el mejor DropDown (lista desplegable)</h4>
                  <p class="lead text-italic text-white">Select2 es una libreria JavaScript que reemplaza las listas desplegables, una libreria muy amigable y minimalista. Puedes visitar su sitio aquí, <a href="https://select2.org/" tarjet="_blank">Select2</a>
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/Jasny.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Jasny, el selector de archivos</h4>
                  <p class="lead text-italic text-white">Jasny es un selector de archivos creado con Bootstrap, tambien tiene un diseño amigable y minimalista, muy bueno. Pueden visitar su sitio aquí, <a href="https://www.jasny.net/" target="_blank">Jansy</a>
                  </p>
                </blockquote>
              </div>
            </div>
            <div class="col-lg-4 mr-auto text-left mt-4">
              <div class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/NucleoAndFontAwesome.png" class="card-img-top">
                <blockquote class="card-blockquote">
                  <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                  </svg>
                  <h4 class="display-4 text-white">Iconos con Nucleo y Font Awesome</h4>
                  <p class="lead text-italic text-white">Los mejores iconos para sitios web, Font Awesome, uno de los más utilizados, con respecto a Nucleo, fue elegido por Argon para representar iconos. Pueden visitar sus sitios aquí, <a href="https://nucleoapp.com/" target="_blank">Nucleo Icons</a> y <a href="https://quilljs.com/" target="_blank">Font Awesome</a>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="section features-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-8 mr-auto text-left">
              <div class="pr-md-5">
                <div class="mb-5">
                  <img class="ml-lg-5" src="/img/FiyiStack/FiyiStackImageTransparent.png" width="80">
                </div>
                <h3>Increíbles prestaciones</h3>
                <p class="lead">FiyiStack es una aplicación generador capaz de tomar tus diagramas de bases de datos y convertirlas en código listo para funcionar. Es rápido, fácil de usar y tiene un gran soporte por parte de los desarrolladores .NET.</p>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="fas fa-check"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">+30 años de desarrollo de software volcados en esta aplicación o generador.</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="fas fa-check"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Genera con casi todas las ultimas tecnologias: JavaScript, TypeScript, C# .NET Core 3.1 y MS SQL Server. Código limpio y seguro.</h6>
                      </div>
                    </div>
                  </li>
                </ul>
                <a href="/LearnMore" class="btn btn-outline-primary mt-3">Aprende más</a>
              </div>
            </div>
            <div class="col-lg-7 col-md-12 pl-md-0">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-info shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-info"></i>
                    </div>
                    <h5 class="info-title text-white">11 capas</h5>
                    <p class="description">FiyiStack genera 11 capas de una aplicación web. Tablas, Procedimientos almacenados, 2 modelos o entidades, Servicios C#, Interfaces C#, APIs C#, Filtros C#, manipuladores del DOM con jQuery y 2 páginas, una de consulta, y otra de inserción y modificación para simular una vista amplia de la base de datos.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-danger info-raised shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-danger"></i>
                    </div>
                    <h5 class="info-title text-white">3 capas</h5>
                    <p class="description">FiyiStack genera las 3 macro capas de una aplicación web. 
                        Base de datos, back-end y front-end
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-default shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-default"></i>
                    </div>
                    <h5 class="info-title text-white">5 aplicaciones gratuitas del desarrollador</h5>
                    <p class="description">FiyiStack trabaja con 5 aplicaciones orientadas al desarrollador. 
                        Google Chrome, Microsoft Visual Studio, Powershell, Postman, y Microsoft SQL Server Management Studio
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-primary shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-primary"></i>
                    </div>
                    <h5 class="info-title text-white">6 lenguajes</h5>
                    <p class="description">FiyiStack genera código escrito en 6 lenguajes diferentes.
                        HTML, CSS, JavaScript, TypeScript, C# y T-SQL.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-warning info-raised shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-warning"></i>
                    </div>
                    <h5 class="info-title text-white">+20 librerias y dependencias</h5>
                    <p class="description">FiyiStack trabaja con más de 20 librerias y dependencias que 
                        trabajan como modulos que contribuyen a la aplicación web.
                        Entre ellas esta Argon (de Creative-Tim), RxJS, Webpack, Bootstrap, jQuery, 
                        Dapper, Quill, ClosedXML, CsvHelper, IronPDF y más
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-success shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-success"></i>
                    </div>
                    <h5 class="info-title text-white">3 tipos de conversión</h5>
                    <p class="description">FiyiStack permite convertir tus datos guardados en Excel, PDF y CSV.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-7 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">¡Ejemplos para descargar!</span></h1>
            <p class="lead pb-4">FiyiRequirements y CanariasBlog, 2 web apps realizadas con FiyiStack, ambas gratuitas</p>
            <a href="/Downloads" class="btn btn-outline-primary">Descargar</a>        
        </div>
        <div class="col-lg-5 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img src="/img/FiyiStack/FiyiRequirementsCanariasBlog.png" />
        </div>
    </div>
    </div>
</div>
<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/js/FiyiStack/EsIndex.js"></script>