@page "/Blog"
@model FiyiStackWeb.Areas.FiyiStack.Pages.BlogPageModel
@{

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * Licensed to a unique person with this Token:IAmTheOwnerOfThis
 * 
 * Coded by www.fiyistack.com
 * Copyright © 2021
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 * Auto generated code. Add your custom code after the last line of auto generation
 */
    
//Stack: 11
//Last modification on: 16/12/2022 10:50:10

    Layout = "_Layout";
}
<!-- Header -->
<div class="header mt-5 pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12 text-center">
                    <!-- Page title -->
                    <h2 id="fiyistack-blog-title-page" class="h2 text-default mt-5 mb-0">
                        El blog de FiyiStack
                    </h2>
                    <h4 class="h4 text-default mb-0">
                        Ven, echa un vistazo
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="row">
                <!-- Search Bar -->
                <div class="col-2 col-sm-3">&nbsp;</div>
                <div class="col-8 col-sm-6">
                    <form>
                        <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend" id="fiyistack-blog-search-button">
                                <span class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                            <input id="fiyistack-blog-query-string" class="form-control font-weight-bolder" type="search" placeholder="Search...">
                        </div>
                    </form>
                    <p class="text-muted text-sm mt-3 mb--1">Puedes buscar esto:</p>
                    <span class="badge badge-info">Generación</span>
                    <span class="badge badge-info">Javascript</span>
                    <span class="badge badge-info">Node.js</span>
                    <span class="badge badge-info">MS SQL Server</span>
                    <span class="badge badge-info">.NET Core</span>
                </div>
                <div class="col-2 col-sm-3">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-3">&nbsp;</div>
                <div class="col-8 col-sm-6">
                    <!-- Tab content -->
                    <div class="tab-content mt-4">
                        <!-- List View -->
                        <div class="tab-pane fade show active" id="tab-list" role="tabpanel" aria-labelledby="fiyistack-blog-list-view-button">
                            <div id="fiyistack-blog-body-list"></div>
                            <div class="row mx-2">
                                <div class="col-12 text-center">
                                    <button id="fiyistack-blog-search-more-button-in-list" class="btn btn-link btn-block text-gray">
                                        <i class="fas fa-2x fa-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-sm-3">&nbsp;</div>
            </div>
        </div>
    </div>
</div>

<script src="/dist/blogcustomjquery.bundle.js"></script>