@page "/Dapper"
@model FiyiStackWeb.Areas.FiyiStack.Pages.DapperModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Aprende a como usar Dapper, el micro ORM para conectar back-end C# con bases de datos MS SQL Server</span></h1>    
            <p class="lead pb-4">Link al video <span class="badge badge-danger">Youtube</span>:</p> <a href="https://youtu.be/bsXvb8PpcEU" target="_blank">https://youtu.be/bsXvb8PpcEU</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bsXvb8PpcEU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>