@page "/DATABASE"
@model FiyiStackWeb.Areas.FiyiStack.Pages.DATABASEModel
@{
    Layout = "_Layout";
}
<div class="card-columns">
    <div class="card ml-4" style="width: 20rem;">
        <img class="card-img-top" src="/img/FiyiStack/videos/Dapper.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Dapper</h3>
            <h5 class="card-title">Aprenda a usar Dapper para conectar el back-end C# con la base de datos MS SQL Server</h5>
            <p class="card-text">DATABASE</p>
            <p class="card-text text-danger"><strong>7.05 min.</strong></p>
            <a href="~/Dapper" class="btn btn-outline-primary btn-sm">Ver video</a>
        </div>
    </div>
</div>