@page "/Debugging"
@model FiyiStackWeb.Areas.FiyiStack.Pages.DebuggingModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Aprende a depurar una aplicación web con Visual Studio</span></h1>    
            <p class="lead pb-4">Link al video <span class="badge badge-danger">Youtube</span>:</p> 
            <a href="https://youtu.be/mL0nuHkl0e0" target="_blank">https://youtu.be/mL0nuHkl0e0</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mL0nuHkl0e0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>