@page "/Downloads"
@model FiyiStackWeb.Areas.FiyiStack.Pages.DownloadsModel
@{
    Layout = "_Layout";
}
 <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="page-header mt-5 pt-5">
    <div class="container">
        <div class="row align-items-center text-left">
            <div class="col-lg-5 col-12">
                <h1 class="display-3 mt-5 pt-5">FiyiStack<span class="text-primary">El generador low-code C#</span></h1>
                <a href="https://github.com/matiasnovillo/FiyiStackApp" target="_blank" class="btn-github btn-icon btn">
                    <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                    <span class="btn-inner--text">Github</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/FiyiStackImageTransparent.png" width="250">
            </div>
        </div>
        <div class="row align-items-center text-left mt-5">
            <div class="col-lg-5 col-12">
                <h1 class="display-3">FiyiRequirements<span class="text-primary">Crea requerimientos, ve lo que necesitan tus clientes. <strong>GRATIS!</strong></span></h1>
                <a href="https://github.com/matiasnovillo/FiyiRequirements" target="_blank" class="btn-github btn-icon btn">
                    <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                    <span class="btn-inner--text">Github</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/Requirements.png" width="250">
            </div>
        </div>
        <div class="row align-items-center text-left mt-5">
            <div class="col-lg-5 col-12">
                <h1 class="display-3">CanariasBlog<span class="text-primary">Crea tu propio blog <strong>GRATIS!</strong></span></h1>
                <a href="https://github.com/matiasnovillo/CanariasBlog" target="_blank" class="btn-github btn-icon btn">
                    <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                    <span class="btn-inner--text">Github</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/CanariasBlog.png" width="250">
            </div>
        </div>
        <div class="row align-items-center text-left mb-5 pb-5">
            <div class="col-lg-5 col-12">
                <h1 class="display-3 mt-5 pt-5">MarshallStore<span class="text-primary">Crea un e-commerce full (22 tablas en total) <strong>GRATIS!</strong></span></h1>
                <a href="https://github.com/matiasnovillo/MarshallStore" target="_blank" class="btn-github btn-icon btn">
                    <span class="btn-inner--icon mr-1"><i class="fab fa-github"></i></span>
                    <span class="btn-inner--text">Github</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/MarshallStore.png" width="250">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    <strong>Todas las aplicaciones</strong> trabajan bajo el sistema operativo Windows únicamente.
                </div>
            </div>
        </div>
    </div>
</div>
    <br />
    <br />
    <br />
    <br />
    
    <br />
    <br />
    
    <br />
    <br />
    
    <br />
    <br />
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />