@page "/FRONTEND"
@model FiyiStackWeb.Areas.FiyiStack.Pages.FRONTENDModel
@{
    Layout = "_Layout";
}
<div class="card-columns">
    <div class="card ml-4" style="width: 20rem;">
        <img class="card-img-top" src="/img/FiyiStack/videos/RxJs.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">RxJs</h3>
            <h5 class="card-title">Aprenda a usar la librería JavaScript para conexiones sincronas entre el back-end y front-end</h5>
            <p class="card-text">FRONT-END</p>
            <p class="card-text text-danger"><strong>4.08 min.</strong></p>
            <a href="~/RxJs" class="btn btn-outline-primary btn-sm">Ver video</a>
        </div>
    </div>
</div>