@page "/FullExample"
@model FiyiStackWeb.Areas.FiyiStack.Pages.FullExampleModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Aprende con un ejemplo full hecho para vos, solo 8 pasos</span></h1>    
            <p class="lead pb-4">Link al video <span class="badge badge-danger">Youtube</span>:</p> <a href="https://youtu.be/jeSk5U5Ktjw" target="_blank">https://youtu.be/jeSk5U5Ktjw</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jeSk5U5Ktjw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="section features-3 my-5" style="background-image: url('./assets/img/ill/p31.svg')">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">Aprende con un ejemplo en 8 pasos</h3>
              <p class="lead text-white">Aprenda a usar FiyiStack, MS SQL Server Management Studio, Visual Studio y más.</p>
            </div>
          </div>
          <div class="row row-grid mt-5">
            <div class="col-lg-12">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-hat-3 text-info"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-info">Pasos a reproducir</h5>
                  <ol>
                      <li>Descargue un proyecto vacío de fiyistack.com, <a href="~/en/Downloads" target="_blank">Descargas</a></li>
                      <li>Abra la solución de Visual Studio, EmptyProject.sln</li>
                      <li>Compile la solución y ábrala en Google Chrome</li>
                      <li>Abra FiyiStack, cree un proyecto y conéctese a la base de datos fiyistack_EmptyProject</li>
                      <li>Genere una tabla de ejemplo</li>
                      <li>Vaya a Visual Studio y agregue los servicios en Startup.cs</li>
                      <li>Además, agregue los archivos TypeScript en webpack.config.js</li>
                      <li>Compile el proyecto y vuelva a abrirlo en Google Chrome</li>
                      <li>¡Listo!</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>