@page "/Pricing"
@model FiyiStackWeb.Areas.FiyiStack.PricingModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5 pt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">Elije FiyiStack de la manera que prefieras</h3>
        </div>
    </div>
</div>
<div class="pricing-1" id="pricing-1">
    <div class="container">
        <div class="row">
            <!-- FREE TRIAL -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            PRUEBA GRATIS
                        </h6>
                    </div>
                    <div class="card-body">
                        <!-- Price -->
                        <div class="display-2 text-dark">
                            US$0
                        </div>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Documentación completa
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Chat con expertos
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            20 generaciones permitidas
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="~/Register" class="btn btn-outline-default mb-3">Empieza hoy</a>
                    </div>
                </div>
            </div>
            <!-- 5$ per month -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            AMATEUR
                        </h6>
                    </div>
                    <div class="card-body">
                        <!-- Price -->
                        <div class="display-2 text-dark">
                            US$5
                        </div>
                        <span class=" text-dark">
                            por mes
                        </span>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Documentación completa
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Chat con expertos
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            100 generaciones permitidas
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-outline-default mb-3" href="~/Checkout/AmateurAccount/P-34666703UL7982730MTHV4DA">Empieza hoy</a>
                    </div>
                </div>
            </div>
            <!-- 8$ per month -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-default border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                            PRO
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="text-muted">
                            <del>US$10</del>
                        </h5>
                        <!-- Price -->
                        <div class="display-2 text-white">
                            US$8
                        </div>
                        <span class=" text-white">
                            por mes
                        </span>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Documentación completa
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Chat con expertos
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Generaciones ilimitadas
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Soporte 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-white mb-3" href="~/Checkout/ProAccount/P-1524357668769193UMTHV42Q">Empieza hoy</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
</div>