@page "/School"
@model FiyiStackWeb.Areas.FiyiStack.Pages.SchoolModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="h4">El curso de desarrollo web fullstack con C# .NET Core, JavaScript y T-SQL<span class="text-primary"> Aprende a crear aplicaciones web con el stack de Microsoft. Totalmente demandadas, escalables, reutilizables y con el menor riesgo de errores posible.</span></h1>    
            <p class="lead pb-4">Link al video <span class="badge badge-danger">Youtube</span>:</p> <a href="https://youtu.be/dJFIU5I4RTQ" target="_blank">https://youtu.be/dJFIU5I4RTQ</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://youtu.be/dJFIU5I4RTQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>

<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-right">
        <div class="col-lg-3 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img src="img/FiyiStack/FiyiStackImageTransparent.png" alt="logo" width="300"/>
        </div>
        <div class="col-lg-9 col-12">
            <h3 class="h4 text-default font-weight-bold mb-4">Redes</h3>
            <p class="lead pb-4">Accede a los videos grabados, libros recomendados para leer y al temario.</p>
            <a href="https://drive.google.com/drive/folders/1jLyy4qyGHSfmWoQNb_vu2sjfIdMNs6Uu?usp=drive_link" target="_blank" class="btn btn-success">Google Drive</a>
            <a href="https://discord.gg/uZVtr7vekJ" target="_blank" class="btn btn-default">Canal de Discord</a>
        </div>
    </div>
    </div>
</div>

